body {
  margin: 0;
  padding: 0;


  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
  text-transform: uppercase;
}
a {
  text-decoration: none;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;

}
.main-header {
  width: auto;
}
.main-navigation {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;

  position: relative;
}
.main-header-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.site-navigation {
  background-color: #ffffff;
  list-style: none;

  margin:0 auto;
  padding: 0;
  padding-top: 22px;
  padding-bottom: 20px;
  text-align: center;
  display: flex;

}
.site-navigation li:nth-child(1),
 .site-navigation li:nth-child(2) {
   text-align: left;
}
.site-navigation li:nth-child(1) {
  margin-left: 6%;
}
 .site-navigation li:nth-child(2) {
   margin-right: 8%;
 }
.site-navigation li:nth-child(3),
 .site-navigation li:nth-child(4) {
   text-align: right;
}
.site-navigation li:nth-child(4) {
  margin-right: 6%;
}
.site-navigation li {
  width: 20%;
  line-height: 1;
}
.site-navigation a {
  color:  #000000;
}
.site-navigation a:hover{
  color: #81b3d2;
}
.site-navigation a:focus {
  color: #cacaca;
}

.top-sedona {
  width: auto;
  background-color: #ffffff;
  background-image: url("../img/bg-index3.jpg");
  background-repeat: no-repeat;

  margin-bottom: 60px;

}
.top-img {
  padding-top: 135px;
  padding-bottom: 135px;
   text-align: center;
}
/* .polygon {

  background-image: url("../img/intro-mask.svg");
  background-repeat: no-repeat;
  position: absolute;

  bottom:0px;
  padding: 0;
  margin: 0;
  min-height: 59px;
  width: 100%;
} */
.reasons {
  background-color: #ffffff;
  text-align: center;
  width: auto;
  padding: 0;
  margin: 0;
}
.reasons h2 {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  padding: : 0 auto;
  padding-bottom: 36px;

}
.reasons p {
  font-size: 14px;
  line-height: 26px;
  /* padding-top: 31px;
  padding-left: 138px; */
  padding: 0 auto;
  padding-bottom: 56px;

}
.feature-housing {
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
}
.reason-gorodok {
  width: auto;
  display: flex;
  padding: 0;
  margin-bottom: 160px;

}

.description-text-gorodok {
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;

  width: 33%;

  padding-top: 45px;
  padding-bottom: 60px;

}
.description-text-gorodok h1 {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}
.description-img-gorodok {
  width: 67%;
  min-height:256px;
  background-color: #ffffff;
  background-image: url("../img/gorodok.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
.reason-most {
  width: auto;
  display: flex;
  flex-direction: row-reverse;

}
.description-img-most {
  width: 67%;
  min-height:256px;
  background-color: #ffffff;
  background-image: url("../img/most.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.description-text-most {
  color: #ffffff;
  background-color: #81b3d2;
  text-align: center;

  width: 33%;
  padding-top: 45px;
  padding-bottom: 60px;
}

.feature {
  width: auto;
  margin: 0 auto;
  padding:0;
  margin-bottom: 49px;
}
.feature-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: space-between;
  position: relative;
}
.housing {
  position: relative;
}
.housing::before {
  content: "";
  position: absolute;
  transform: translate(-6%, -135%);
  width: 75px;
  height: 75px;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
}
.food {
  position: relative;
}
.food::before {
  content: "";
  position: absolute;
  transform: translate(-25%, -135%);
  width: 75px;
  height: 75px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
}
.souvenirs {
  position: relative;
}
.souvenirs::before {
  content: "";
  position: absolute;
  transform: translate(25%, -135%);
  width: 75px;
  height: 75px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
}
.feature-item {
  text-align: center;
  width: 33.333%;

}
.feature-item h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}
.container-reason-other {
    background-color: #eeeeee ;
}
.reason-other {
  background-color: #eeeeee ;
  text-align: center;

  width: auto;
  margin: 0 auto;
  padding:0;
  margin-bottom: 50px;
}
.reason-list {
  list-style: none;
  margin: 0;
  padding: 45px 0;
  display: flex;
  justify-content: space-between;
}
.reason-list li {
  width: 33%;
}
.reason-other h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;

  margin: 0 45px;

}
.reason-other p {
  font-size: 14px;
  line-height: 21px;

  padding-right: 5px;
  padding-left: 5px;

}
.search strong {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}
.search p:first-of-type {
  font-size: 14px;
  line-height: 24px;
}
.search-catalog {


  font-size: 12px;
  line-height: 18px;
  display: flex;
  justify-content: space-around;
  width: 567px;
  margin: 0 auto;
}
.catalog-button {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #eeeeee;
  background-color: #776458;
  text-transform: uppercase;
  border: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 auto;
  width: 100%;
}
.search {
  position: relative;
  width: auto;
  text-align: center;
  margin-bottom: 0;
}
.search-head {
  width: auto;
  text-align: center;
  margin-bottom: 0;

}
.search-form {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;

  margin:0 auto;
  padding-top:55px;
  width: 567px;
  text-align: center;

  position: absolute;
  bottom:0px;
  left: 50%;
  transform: translate(-50%, 100%);
  background-color: #ffffff;

}
.search-form input,
.search-form button {
  background-color: #f2f2f2;
  border: none;
  text-transform: uppercase;
}
.date-input {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  width: 346px;
  padding-left: 13px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-left: 22px;
}
.date-input:hover {
  background-color: #ebebeb;
}
.date-input:active {
  background-color: ffffff;
  border:2px solid;
  border-color:#e5e5e5;
}
.button-reduce {

  background-image: url("../img/minus.svg");
  background-repeat: no-repeat;
  background-size: 12px;
}
.button-reduce,
.number-input,
.button-add {
  font-weight: 700;
  font-size: 14px;
  line-height: 26px;
  width: 38px;
  text-align: center;
  padding: 12px 14px 12px 14px;
}

.form-footer {
  margin : 0 auto;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.number-input,
.button-add {
  margin-left: -4px;
}
.search-form .button-search-form {
  color: #eeeeee;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;

  padding:  15px 195px;
  margin: 55px;
  background-color: #81b3d2;
}
.button-search-form:hover {
  background-color: #669ec0;
}
.button-search-form:active {
  background-color: #5496bd;
  color: #94b9d2;
}

.map {
  width: auto;
  min-height: 475px;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}


.main-footer {
  background-color: #ffffff;
  padding-top: 36px;
  padding-bottom: 36px;
  width: auto;
  padding:0;



}
.main-footer p {
  font-weight: 700;
  font-size: 21px;


}
.footer-container {

  margin: 0 auto;
  padding:0;
  padding-top: 36px;
  padding-bottom: 36px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.footer-kheshtyeg {
  margin: 0;
  width: 33.333%;
  text-align: center;
}
.footer-social {

  list-style: none;
  margin: 0;
  padding: 0;
  width: 33.333%;


  display: flex;
  justify-content: center;
}
.logo-footer {
  text-align: center;
  width: 33.333%;

}
.logo-footer-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-htmlacademy {
  padding-right: 8px;
}
.footer-social li {
  display: flex;
  justify-content: center;

}
.social-button-twitter {
  margin-right: 6px;
  padding: 17px 14px 16px 15px;
  background-color: #81b3d2 ;

}
.social-button-facebook {
  margin-right: 6px;
  padding: 13px 17px;
  background-color: #81b3d2 ;
}
.social-button-youtube {

  padding: 16px 13px ;
  background-color: #81b3d2 ;
}



/* catalog.html */
.site-navigation-current a {
  color: #766357;
}
.found {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
.catalog-filter {
color: #ffffff;
background-color: #5b88b0;
background-image: url("../img/bg-catalog.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;

padding: 0;
margin: 0;
}

.filter-form {
  width: auto;

  padding:28px 45px;
  display: flex;
  justify-content: space-between;
}
.filter-list,
.search-list,
.catalog-list {
  list-style: none;
}
.catalog-filter h4 {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}
.filter-button {
  color: #ffffff;
  border: 2px solid;
  border-color: #ffffff;
  background-color: transparent;
}
.filter-button:hover {
  color:#000000;
  background-color: #ffffff;
}


.search-catalog {
  font-size: 12px;
  line-height: 18px;

  display: flex;
  justify-content: space-around;
}
.catalog-item-title:hover {
    color: #81b3d2;
}
.catalog-item-title:active {
    color: #cacaca;
}
.catalog h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
.catalog  a {
    color: #000000;
}
.catalog .button {
  color: #ffffff;
  padding: 6px 17px 6px 17px;
}

.star{
    width: 100px;
}
.four {
  background-image: url("../img/star.svg");
	background-repeat: space;
  padding-left: 80px;
}
.three {
  background-image: url("../img/star.svg");
  background-repeat: space;
  padding-left: 60px;
}
.two {
  background-image: url("../img/star.svg");
  background-repeat: space;
  padding-left: 40px;
}
.rating {
  background-color: #f2f2f2;
  padding: 6px 17px 6px 17px;
}
.button-more {
  background-color: #81b3d2;
}
.button-more:hover {
  background-color: #669ec0;
}
.button-more:active {
  color: #94b9d2;
  background-color: #5496bd;
}
.button-reserve {
  background-color: #766357;
}
.button-reserve:hover {
background-color: #604e43;
}
.button-reserve:active {
  color: #928a85;
background-color: #503e33;
}
